#Main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}
#titleContainer {
  display: flex;
  flex-direction: column;
  // margin: 10% 10% 5% 10%;
  margin: 5%;
  width: 30%;
  #title {
    font-size: 3vw;
  }
  #subtitle {
    font-size: 2vw;
  }
}
#formContainer {
  display: flex;
  flex-direction: column;
  font-size: 2.4vw;
  width: 30%;
  // margin: 5% 10% 10% 10%;
  margin: 5%;
  form {
    text-align: center;
  }
}

#nameContainer,
#emailContainer,
#addressContainer {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 2vw;
}

#name,
#email,
#address {
  width: 90%;
  height: 4vh;
}

#btn-submit {
  width: 30%;
  height: 3vh;
}
#btn-submit:hover {
  cursor: pointer;
}

#ty{
  font-size: 1.8vw;
  margin: 5%;
}