* {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  overflow: hidden;
}

@import './components/ScrollBar.scss';
@import './components/NavBar/NavBar.scss';
@import './components/Pages/Pages.scss';

